// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import "frontend/main";

.navbar {
  background-color: $primary;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

.navbar-dark .navbar-nav .nav-link {
  color: $white;
}
